<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Fran Martín | fmartinrivas2@gmail.com">
    <meta name="description" content="Create fake spatial data for testing and development">
    <meta name="copyright" content="Fran Martín"/>

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700" rel="stylesheet">

    <title>Geofiction</title>

</head>
<body>

<div id="page-wrapper">
    <div id="wrapper">
        <img id="logo" src="static/logo.png" />
        <hr>
        <form>
          <label for="fname"># Rows:</label><br>
          <input type="text" id="fname" name="fname"><br>
          <label for="lname">Format:</label><br>
          <input type="text" id="lname" name="lname">
            <hr>
          <input type="submit" value="Generate">
        </form>
    </div>
</div>

</body>
</html>
