<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Fran Martín | fmartinrivas2@gmail.com">
    <meta name="description" content="Create fake spatial data for testing and development">
    <meta name="copyright" content="Fran Martín"/>

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700" rel="stylesheet">

    <title>Geofiction</title>

</head>
<body>

<div id="page-wrapper">
    <div id="wrapper">
        <img id="logo" src="static/logo.png" />
    </div>
</div>

</body>
</html>
